run = "pnpm run replit:dev"
modules = ["nodejs-24", "postgresql-16"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 18245
externalPort = 3000

[deployment]
build = "pnpm run replit:build"
run = "pnpm run replit:start"

[userenv]

[userenv.shared]
DEBUG_ERRORS = "true"

[nix]
channel = "stable-25_05"
